/* http://prismjs.com/download.html?themes=prism-okaidia&languages=markup+css+clike+javascript+bash+java+json+kotlin+jsx+sql */
/**
 * okaidia theme for JavaScript, CSS and HTML
 * Loosely based on Monokai textmate theme by http://www.monokai.nl/
 * @author ocodia
 */

code[class*="language-"],
pre[class*="language-"] {
	color: #A9B7C6;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

/* Code blocks */
pre[class*="language-"] {
	/*padding: 1em;*/
	overflow: auto;
	border-radius: 0.3em;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #808080;
}

.token.punctuation,
.token.script {
	color: #A9B7C6;
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.constant,
.token.symbol,
.token.deleted {
	color: #FFC66D;
}

.token.boolean,
.token.number {
	color: #6897BB;
}

.token.selector,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #A5C25C;
}


.token.operator,
.token.entity,
.token.attr-name,
.token.attr-value,
.token.url,
.language-css,
.style .token.string,
.token.variable {
	color: #A9B7C6;
}

.token.tag .token.attr-value {
	color: #A5C25C;
}


.token.atrule,
.token.function {
	color: #9876AA;
}

.token.annotation {
	color: #BBB529;
}

.token.keyword {
	color: #CC7832;
}

.token.regex,
.token.important {
	color: #CC7832;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

.language-jsx .token.tag > .token.punctuation,
.language-xml .token.tag > .token.punctuation,
.language-html .token.tag > .token.punctuation {
	color: #FFC66D;
}
