* {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: black;
}

.asciilink {
	font-size: 10px;
	line-height: 5px;
	position: absolute;
	font-weight: bold;
	color: #072A4D;
}

.asciilink1 {
	top: 60px;
	left: 22%;
}

.asciilink2 {
	top: 220px;
	left: 45%;
}

.angular2 {
	position: relative;
	top: 400px;
	left: 200px;
}
